
#title{
  background-color: #ff4c68;

}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 1.5;
  color: #f1f1f1;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;

}

.container-fluid{
  padding: 7% 13%;
  padding-bottom: 186px;
}

/* Image */

.phone{
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 23%

}

/* Nav-Bar */

.navbar-brand{
  font-family: 'Bad Script', cursive;
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-item{
  padding: 0% 5%;
}

/* Button */

.Download{
  margin-top: 5%;
  margin-bottom: 3%;
  margin-right: 3%;
}

/* Features */

#features{
  background-color: #ebefd0;
  padding: 7% 14%;
  position: relative;
  z-index: 1px;
}

.feature-content{
  text-align: center;
  padding: 0% 4%;
}

.GTW{
  color:#696464;
  font-weight:bold; font-family: 'Montserrat', sans-serif;

}

/* Icons */

.icon{
color: #cd3f3e;
margin-bottom: 4%;
}

.icon:hover{
  color: #ff4c68;
  transition: all .2s ease-in-out;
}

/* Testimonials */

#testimonials{
  text-align: center;
  background-color: #ff4c68;
  color: #f1f1f1;
}

.testimonial-img{
  width: 140px;
  border-radius: 100%;
  margin-top: 3%;

}

.carousel-item{
  padding: 7% 15%;
}

/* Pricing */

#pricing{
  background-color: #ebefd0;
  color: #696464;
  padding: 6% 8%;
}

.pricing-text{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.sent1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.initial-2-cards{
  margin-top: 56px;
}

/* call of text */

#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 4% 8%;
  color: #f1f1f1;
}

.end-line{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
}

/* Footer section */

#footer{
  text-align: center;
  background-color: #ebefd0;
  padding: 3% 4%;
}

.foot{
  font-family: 'Montserrat', sans-serif;
  color: #696464;
  font-weight: 200;
}

.fab{
  padding-right: 15px;
  padding-bottom: 2%;
}
/* Media Query Break-points */
@media (max-width:990px) {

  #title{
    text-align: center;
  }

  .phone{
    transform: rotate(0);
    position: relative;
    left: 0%;
    padding-top: 15%;
  }

  #testimonials{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
  }

  #footer{
    padding: 4% 4%;
  }

}
